{% extends "shop/base.html" %}

{% block hero %}
<section class="hero">
    <div class="hero-content">
        <h1 class="tagline">Where Thoughts Find Their Page</h1>
        <p>Discover our curated collection of artisanal paper notebooks, designed for writers, dreamers, and creators.</p>
        <a href="#product-grid-heading" class="btn-hero">Explore Collection</a>
    </div>
</section>
{% endblock hero %}



{% block content %}
    <h2 id="product-grid-heading" class="grid-heading">Our Products</h2>
    <div class="product-grid">
        {% for product in products %}
        <a href="{{ product.get_absolute_url }}" class="product-card-link">
            <div class="glass-card">
                <div class="card-image">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="card-content">
                    <h2>{{ product.name }}</h2>
                    <span class="price">${{ product.price }}</span>
                    <div class="add-to-cart-btn">View Details</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}